# pixi environments
.pixi/*
!.pixi/config.toml

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
.Spotlight-V100
.Trashes

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.coverage
.coverage.*
.hypothesis/
.mypy_cache/
.nox/
.pytest_cache/
.ruff_cache/
.tox/
.venv/
ENV/
env/
htmlcov/
venv/

# Terraform / OpenTofu
.terraform/
.tf-test-artifacts/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
